*.bak
*.swp
*/**/*.zip
*/**/*.rpm
.dockerignore
.gitignore
#*/install/patches/0*
/config/.mos
/demos
/docker-images
/docker-oracle
/upgrade/*.jar
/labs/farsync/srdc*
/labs/farsync/tnsnames.ora
/labs/farsync/listener.ora
/labs/farsync/*.sql
/labs/farsync/*.dgs
/labs/farsync/*.rman
Dockerfile.Upgrade
Dockerfile.db.*
Dockerfile.oraclelinux.*
