*/**/*.zip
*/**/*.rpm
.dockerignore
.gitignore
#*/install/patches/0*
/demos
/docker-images
/docker-oracle
/upgrade/*.jar
/farsync/srdc*
/farsync/tnsnames.ora
/farsync/listener.ora
/farsync/*.sql
/farsync/*.dgs
/farsync/*.rman
Dockerfile.Upgrade
